{:paths ["src"]
 :deps {babashka/fs {:mvn/version "0.5.25"}
        babashka/process {:mvn/version "0.6.23"}
        borkdude/edamame {:mvn/version "1.4.30"}
        cheshire/cheshire {:mvn/version "6.0.0"}
        enlive/enlive {:mvn/version "1.1.6"}
        org.babashka/cli {:mvn/version "0.8.65"}
        org.clj-commons/hickory {:mvn/version "0.7.7"}
        org.clojure/data.xml {:mvn/version "0.0.8"}}
 :aliases
 {:dev
  {:extra-paths ["dev" "test"]
   :extra-deps {io.github.nextjournal/clerk {:mvn/version "0.17.1102"}
                lambdaisland/kaocha {:mvn/version "1.91.1392"}}}}}
